<div class="container">

  <div class="row mt-5 justify-content-center">
    <div class="col-9 d-flex justify-content-between align-items-center">

        <span><h4w>商品一覧</h4w></span>
        <%= link_to new_admin_item_path, style:'color:#000000;' do %>
          <%= image_tag "plus-icon.png", size:"100x100", style:'border-radius: 50%;' %>
        <% end %>

    </div>
  </div>

  <%= render 'index', items:@items %>
</div>