<div class="container">

  <div class="row">
    <h4>ジャンル一覧・追加</h4>
  </div>

  <%= render 'layouts/errors', obj:@genre %>

  <%= render 'form', genre:@genre %>

  <%= render 'index', genres:@genres %>

</div>
