<div class="container">

  <div class="row mt-4 pl-5">
    <h4 style="background-color: #E6E6E6;">ジャンル一覧・追加</h4>
  </div>

  <div id="error-messages"></div>

  <%= render 'form', genre:@genre %>

  <div id="genre_index">
    <%= render 'index', genres:@genres %>
  </div>

</div>
