// Place all the styles related to the admin/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index-title{
  background-color:gray;
}
.index-tr{
  background-color:gray;
}
.show-title{
  background-color:gray;
}
.edit-title{
  background-color:gray;
}