<div class="col-2">
  <div class="border border-dark" style="height: 300px;">
    <p class="text-center border-bottom border-dark mt-1">ジャンル検索</p>
    <ul class="p-0 ml-2" style="list-style: none;">
      
      <li class="mx-3 my-2" style="color: #000000"><%= link_to 'ケーキ', top_path %></li>
      <li class="mx-3 my-2"><%= link_to '焼き菓子', top_path %></li>
      <li class="mx-3 my-2"><%= link_to 'プリン', top_path %></li>
      <li class="mx-3 my-2"><%= link_to 'キャンディ', top_path %></li>
    </ul>
  </div>
</div>