<h1>Public::Orders#thanks</h1>
<p>Find me in app/views/public/orders/thanks.html.erb</p>


<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="row">
    <div class="col-12 text-center">
      <h3>
        <strong>ご注文ありがとうございました！</strong>
      </h3>
    </div>
  </div>
</div>