<div class="row">

  <div class="col-4">
    <%= image_tag item.get_image(300, 200) %>
  </div>

  <div class="col-8">
    <h3><strong><%= item.name %></strong></h3>
    <p><%= item.introduction %></p>
    <p class="mt-5"><strong>¥<%= number_with_delimiter((item.price * 1.1).to_i) %></strong>(税込)</p>



  </div>
</div>