
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      
       <li>
          <%= link_to public_customer_path(current_customer),class: 'nav-link text-dark' do %>
          <span class="boxed"> マイページ </span>
          <% end %>
       </li>
       <li>
          <%=  link_to public_items_path,class: 'nav-link text-dark' do %>
          <span class="boxed"> 商品一覧 </span>
          <% end %>
       </li>
       <li>
          <%=  link_to public_cart_items_path ,class: 'nav-link text-dark' do %>
          <span class="boxed"> カート </span>
          <% end %>
       </li>
       <li>
          <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link text-dark' do %>
          <span class="boxed"> ログアウト </span>
          <% end %>
        </li>
    </ul>
  </div>

       
     